In [2]:
import pandas as pd

In [3]:
# Load datasets from Excel files.
# header=6 tells pandas that the 7th row contains the column names, so data starts on the 8th row.
df2023 = pd.read_excel('C:/Users/jr24440/Downloads/LSEG ESG FULL 2023.xlsx', header=6)
df2022 = pd.read_excel('C:/Users/jr24440/Downloads/LSEG ESG FULL 2022.xlsx', header=6)
df2021 = pd.read_excel('C:/Users/jr24440/Downloads/LSEG ESG FULL 2021.xlsx', header=6)
df2020 = pd.read_excel('C:/Users/jr24440/Downloads/LSEG ESG FULL 2020.xlsx', header=6)
df2019 = pd.read_excel('C:/Users/jr24440/Downloads/LSEG ESG FULL 2019.xlsx', header=6)

In [4]:
print(df2023.head())

   Unnamed: 0 Updated at 12:13:41  \
0         NaN               KE.OQ
1         NaN            PATAm.BA
2         NaN            COMEm.BA
3         NaN            SEMIm.BA
4         NaN            LEDEm.BA

                            Company Common Name       Country of Exchange  \
0                       Kimball Electronics Inc  United States of America
1  Importadora y Exportadora de la Patagonia SA                 Argentina
2               Sociedad Comercial del Plata SA                 Argentina
3                        Molinos Juan Semino SA                 Argentina
4                                  Ledesma SAAI                 Argentina

                   TRBC Industry Group Name  Company Market Cap  ESG Score  \
0  Semiconductors & Semiconductor Equipment          421.603564  60.265818
1                     Food & Drug Retailing          589.556429  51.744967
2                                 Oil & Gas          552.127894  11.556929
3                            Food & Tobacco           65.390005  14.534826
4                            Food & Tobacco          615.819654  50.554813

   ESG Combined Score  Environmental Pillar Score  Social Pillar Score  \
0           60.265818                   52.283778            79.742480
1           51.744967                   38.371223            52.857349
2           11.556929                    0.000000            12.288542
3           14.534826                    5.931264             7.512968
4           50.554813                   62.406509            46.293266

   Governance Pillar Score  CO2 Equivalent Emissions Total
0                37.707773                        54401.00
1                60.952381                       134770.29
2                27.202381                             NaN
3                36.130952                             NaN
4                44.880952                       453667.00

In [5]:
print(df2022.head())

   Unnamed: 0 Updated at 12:11:04  \
0         NaN               KE.OQ
1         NaN            PATAm.BA
2         NaN            COMEm.BA
3         NaN            SEMIm.BA
4         NaN            LEDEm.BA

                            Company Common Name       Country of Exchange  \
0                       Kimball Electronics Inc  United States of America
1  Importadora y Exportadora de la Patagonia SA                 Argentina
2               Sociedad Comercial del Plata SA                 Argentina
3                        Molinos Juan Semino SA                 Argentina
4                                  Ledesma SAAI                 Argentina

                   TRBC Industry Group Name  Company Market Cap  ESG Score  \
0  Semiconductors & Semiconductor Equipment          421.603564  67.064215
1                     Food & Drug Retailing          589.556429  45.458277
2                                 Oil & Gas          552.127894  11.364004
3                            Food & Tobacco           65.390005  15.824049
4                            Food & Tobacco          615.819654  55.046961

   ESG Combined Score  Environmental Pillar Score  Social Pillar Score  \
0           67.064215                   46.880733            81.869163
1           45.458277                   49.498543            43.414311
2           11.364004                    0.000000            12.111415
3           15.824049                    7.133378             7.054445
4           55.046961                   66.258861            49.278145

   Governance Pillar Score  CO2 Equivalent Emissions Total
0                66.856230                        44495.00
1                45.485056                       125043.57
2                26.698328                             NaN
3                40.535714                             NaN
4                52.681104                       433118.00

In [6]:
print(df2021.head())

   Unnamed: 0 Updated at 12:04:20  \
0         NaN               KE.OQ
1         NaN            PATAm.BA
2         NaN            COMEm.BA
3         NaN            SEMIm.BA
4         NaN            LEDEm.BA

                            Company Common Name       Country of Exchange  \
0                       Kimball Electronics Inc  United States of America
1  Importadora y Exportadora de la Patagonia SA                 Argentina
2               Sociedad Comercial del Plata SA                 Argentina
3                        Molinos Juan Semino SA                 Argentina
4                                  Ledesma SAAI                 Argentina

                   TRBC Industry Group Name  Company Market Cap  ESG Score  \
0  Semiconductors & Semiconductor Equipment          421.603564  54.709854
1                     Food & Drug Retailing          589.556429  11.717591
2                                 Oil & Gas          552.127894  13.433487
3                            Food & Tobacco           65.390005  17.675580
4                            Food & Tobacco          615.819654  52.035698

   ESG Combined Score  Environmental Pillar Score  Social Pillar Score  \
0           54.709854                   45.355903            79.702058
1           11.717591                    9.659091            16.038159
2           13.433487                    0.000000            12.463194
3           17.675580                    9.561538             7.159710
4           52.035698                   59.220385            47.315327

   Governance Pillar Score  CO2 Equivalent Emissions Total
0                24.697457                        42738.00
1                 6.475487                       107873.04
2                34.866291                             NaN
3                44.770115                             NaN
4                52.288295                       440321.00

In [7]:
print(df2020.head())

   Unnamed: 0 Updated at 12:05:20  \
0         NaN               KE.OQ
1         NaN            PATAm.BA
2         NaN            COMEm.BA
3         NaN            SEMIm.BA
4         NaN            LEDEm.BA

                            Company Common Name       Country of Exchange  \
0                       Kimball Electronics Inc  United States of America
1  Importadora y Exportadora de la Patagonia SA                 Argentina
2               Sociedad Comercial del Plata SA                 Argentina
3                        Molinos Juan Semino SA                 Argentina
4                                  Ledesma SAAI                 Argentina

                   TRBC Industry Group Name  Company Market Cap  ESG Score  \
0  Semiconductors & Semiconductor Equipment          421.603564  42.090706
1                     Food & Drug Retailing          589.556429  11.024168
2                                 Oil & Gas          552.127894  14.118922
3                            Food & Tobacco           65.390005  11.388801
4                            Food & Tobacco          615.819654  47.412697

   ESG Combined Score  Environmental Pillar Score  Social Pillar Score  \
0           42.090706                   42.413639            54.525052
1           11.024168                    3.084936            19.719140
2           14.118922                    0.000000            12.439620
3           11.388801                    9.095068             7.899598
4           47.412697                   57.199267            44.748853

   Governance Pillar Score  CO2 Equivalent Emissions Total
0                21.186515                         50126.0
1                 3.511905                             NaN
2                37.821429                             NaN
3                19.940476                             NaN
4                41.250000                        446834.0

In [8]:
print(df2019.head())

   Unnamed: 0 Updated at 12:06:08  \
0         NaN               KE.OQ
1         NaN            PATAm.BA
2         NaN            COMEm.BA
3         NaN            SEMIm.BA
4         NaN            LEDEm.BA

                            Company Common Name       Country of Exchange  \
0                       Kimball Electronics Inc  United States of America
1  Importadora y Exportadora de la Patagonia SA                 Argentina
2               Sociedad Comercial del Plata SA                 Argentina
3                        Molinos Juan Semino SA                 Argentina
4                                  Ledesma SAAI                 Argentina

                   TRBC Industry Group Name  Company Market Cap  ESG Score  \
0  Semiconductors & Semiconductor Equipment          421.603564  40.197088
1                     Food & Drug Retailing          589.556429   5.495218
2                                 Oil & Gas          552.127894  16.448145
3                            Food & Tobacco           65.390005   9.152392
4                            Food & Tobacco          615.819654  45.714994

   ESG Combined Score  Environmental Pillar Score  Social Pillar Score  \
0           40.197088                   34.726769            53.404231
1            5.495218                    3.604869             6.828940
2           16.448145                    0.000000            12.401583
3            9.152392                    6.606765             6.045020
4           45.714994                   59.243763            42.320246

   Governance Pillar Score  CO2 Equivalent Emissions Total
0                24.969684                         52323.0
1                 4.880952                             NaN
2                47.788462                             NaN
3                17.321429                             NaN
4                36.698718                        493245.0

In [9]:
df2023.rename(columns=lambda col: "Ticker" if col.startswith("Updated") else col, inplace=True)
df2022.rename(columns=lambda col: "Ticker" if col.startswith("Updated") else col, inplace=True)
df2021.rename(columns=lambda col: "Ticker" if col.startswith("Updated") else col, inplace=True)
df2020.rename(columns=lambda col: "Ticker" if col.startswith("Updated") else col, inplace=True)
df2019.rename(columns=lambda col: "Ticker" if col.startswith("Updated") else col, inplace=True)

In [10]:
dfs = [df2023, df2022, df2021, df2020, df2019]

In [11]:
# Add snapshot dates (adjust these dates accordingly)
dfs[0]['snapshot_date'] = '2023-01-01'
dfs[1]['snapshot_date'] = '2022-01-01'
dfs[2]['snapshot_date'] = '2021-01-01'
dfs[3]['snapshot_date'] = '2020-01-01'
dfs[4]['snapshot_date'] = '2019-01-01'

In [12]:
# Iterate over each DataFrame and drop the 'Unnamed: 0' column if it exists
for df in dfs:
    if 'Unnamed: 0' in df.columns:
        df.drop(columns=['Unnamed: 0'], inplace=True)

In [13]:
print(df2022.head())

     Ticker                           Company Common Name  \
0     KE.OQ                       Kimball Electronics Inc
1  PATAm.BA  Importadora y Exportadora de la Patagonia SA
2  COMEm.BA               Sociedad Comercial del Plata SA
3  SEMIm.BA                        Molinos Juan Semino SA
4  LEDEm.BA                                  Ledesma SAAI

        Country of Exchange                  TRBC Industry Group Name  \
0  United States of America  Semiconductors & Semiconductor Equipment
1                 Argentina                     Food & Drug Retailing
2                 Argentina                                 Oil & Gas
3                 Argentina                            Food & Tobacco
4                 Argentina                            Food & Tobacco

   Company Market Cap  ESG Score  ESG Combined Score  \
0          421.603564  67.064215           67.064215
1          589.556429  45.458277           45.458277
2          552.127894  11.364004           11.364004
3           65.390005  15.824049           15.824049
4          615.819654  55.046961           55.046961

   Environmental Pillar Score  Social Pillar Score  Governance Pillar Score  \
0                   46.880733            81.869163                66.856230
1                   49.498543            43.414311                45.485056
2                    0.000000            12.111415                26.698328
3                    7.133378             7.054445                40.535714
4                   66.258861            49.278145                52.681104

   CO2 Equivalent Emissions Total snapshot_date
0                        44495.00    2022-01-01
1                       125043.57    2022-01-01
2                             NaN    2022-01-01
3                             NaN    2022-01-01
4                       433118.00    2022-01-01

In [14]:
print(df2023.head())

     Ticker                           Company Common Name  \
0     KE.OQ                       Kimball Electronics Inc
1  PATAm.BA  Importadora y Exportadora de la Patagonia SA
2  COMEm.BA               Sociedad Comercial del Plata SA
3  SEMIm.BA                        Molinos Juan Semino SA
4  LEDEm.BA                                  Ledesma SAAI

        Country of Exchange                  TRBC Industry Group Name  \
0  United States of America  Semiconductors & Semiconductor Equipment
1                 Argentina                     Food & Drug Retailing
2                 Argentina                                 Oil & Gas
3                 Argentina                            Food & Tobacco
4                 Argentina                            Food & Tobacco

   Company Market Cap  ESG Score  ESG Combined Score  \
0          421.603564  60.265818           60.265818
1          589.556429  51.744967           51.744967
2          552.127894  11.556929           11.556929
3           65.390005  14.534826           14.534826
4          615.819654  50.554813           50.554813

   Environmental Pillar Score  Social Pillar Score  Governance Pillar Score  \
0                   52.283778            79.742480                37.707773
1                   38.371223            52.857349                60.952381
2                    0.000000            12.288542                27.202381
3                    5.931264             7.512968                36.130952
4                   62.406509            46.293266                44.880952

   CO2 Equivalent Emissions Total snapshot_date
0                        54401.00    2023-01-01
1                       134770.29    2023-01-01
2                             NaN    2023-01-01
3                             NaN    2023-01-01
4                       453667.00    2023-01-01

In [15]:
# Concatenate the snapshots to form a time series DataFrame
merged_df = pd.concat(dfs, ignore_index=True)
merged_df = merged_df.sort_values(by=['Company Common Name', 'snapshot_date'])

In [16]:
print(merged_df.head())

       Ticker Company Common Name Country of Exchange  \
24503  1U1.DE              1&1 AG             Germany
18644  1U1.DE              1&1 AG             Germany
12393  1U1.DE              1&1 AG             Germany
5959   1U1.DE              1&1 AG             Germany
656    1U1.DE              1&1 AG             Germany

          TRBC Industry Group Name  Company Market Cap  ESG Score  \
24503  Telecommunications Services         2788.711739  34.932175
18644  Telecommunications Services         2788.711739  42.295216
12393  Telecommunications Services         2788.711739  58.497492
5959   Telecommunications Services         2788.711739  69.198438
656    Telecommunications Services         2788.711739  69.940814

       ESG Combined Score  Environmental Pillar Score  Social Pillar Score  \
24503           34.932175                   39.433142            37.899445
18644           42.295216                   45.422365            46.492585
12393           58.497492                   49.344504            69.315140
5959            69.198438                   52.597264            75.986168
656             69.940814                   59.690056            75.210116

       Governance Pillar Score  CO2 Equivalent Emissions Total snapshot_date
24503                25.530407                           936.9    2019-01-01
18644                31.479677                           954.9    2020-01-01
12393                43.819390                          1107.3    2021-01-01
5959                 68.312834                          1653.3    2022-01-01
656                  67.231850                          3819.0    2023-01-01

In [17]:
# Drop rows with any missing values
df_merged = merged_df.dropna()

# Count the number of remaining rows
row_count = df_merged.shape[0]
print("Number of rows remaining:", row_count)

Number of rows remaining: 16628

In [18]:
# Save the merged dataset to a new Excel file
df_merged.to_excel('C:/Users/jr24440/Downloads/merged_dataset_ESG.xlsx', index=False)

In [22]:
import pandas as pd

# 2. Summary statistics for numeric columns
print("\nSummary Statistics for Numeric Columns:")
print(df_merged.describe())

# 3. Unique counts for categorical columns
print("Unique Company Common Names:", df_merged['Company Common Name'].nunique())
print("Unique Countries of Exchange:", df_merged['Country of Exchange'].nunique())
print("Unique TRBC Industry Group Names:", df_merged['TRBC Industry Group Name'].nunique())

# 4. Value counts for some of the categorical variables (showing a few examples)
print("\nTop 10 Company Common Names:")
print(df_merged['Company Common Name'].value_counts().head(10))
print("\nRecords per Snapshot Date:")
print(df_merged['snapshot_date'].value_counts().sort_index())

# 6. Additional statistics, e.g., median values for numeric columns
print("\nMedian Values for Numeric Columns:")
print(df_merged.median(numeric_only=True))

Summary Statistics for Numeric Columns:
       Company Market Cap     ESG Score  ESG Combined Score  \
count        1.662800e+04  16628.000000        16628.000000
mean         2.185141e+04     57.146214           54.751799
std          1.175848e+05     17.443869           16.632292
min          1.563216e-04      3.479549            3.479549
25%          8.486039e+02     44.954619           43.124081
50%          3.135419e+03     58.394845           55.584509
75%          1.205790e+04     70.520675           67.280473
max          3.331340e+06     95.874190           94.702085

       Environmental Pillar Score  Social Pillar Score  \
count                16628.000000         16628.000000
mean                    54.252519            60.033703
std                     22.962438            20.141885
min                      0.000000             0.313364
25%                     36.435559            45.697951
50%                     55.816831            61.925523
75%                     72.743354            75.925086
max                     98.995479            97.966208

       Governance Pillar Score  CO2 Equivalent Emissions Total
count             16628.000000                    1.662800e+04
mean                 56.894934                    1.700634e+06
std                  21.832604                    8.378973e+06
min                   0.677507                    0.000000e+00
25%                  40.493639                    6.632000e+03
50%                  59.263331                    5.152335e+04
75%                  74.593019                    3.626060e+05
max                  99.488254                    2.556800e+08
Unique Company Common Names: 4227
Unique Countries of Exchange: 34
Unique TRBC Industry Group Names: 59

Top 10 Company Common Names:
Company Common Name
1&1 AG                                 5
LVMH Moet Hennessy Louis Vuitton SE    5
L3Harris Technologies Inc              5
LATAM Airlines Group SA                5
LEG Immobilien SE                      5
LKQ Corp                               5
LPKF Laser & Electronics SE            5
LPL Financial Holdings Inc             5
LPP SA                                 5
LSL Property Services PLC              5
Name: count, dtype: int64

Records per Snapshot Date:
snapshot_date
2019-01-01    2597
2020-01-01    3174
2021-01-01    3600
2022-01-01    3852
2023-01-01    3405
Name: count, dtype: int64

Median Values for Numeric Columns:
Company Market Cap                 3135.419466
ESG Score                            58.394845
ESG Combined Score                   55.584509
Environmental Pillar Score           55.816831
Social Pillar Score                  61.925523
Governance Pillar Score              59.263331
CO2 Equivalent Emissions Total    51523.345000
dtype: float64

In [ ]:
# Top 15 companies by Market Cap (in millions)
top15_market_cap = (
    df.sort_values(by='Company Market Cap', ascending=False)
      .drop_duplicates(subset=['Company Common Name'])
      .head(15)
)

# Top 15 companies by ESG Score
top15_esg_score = (
    df.sort_values(by='ESG Score', ascending=False)
      .drop_duplicates(subset=['Company Common Name'])
      .head(15)
)

# Top 15 companies by CO2 Equivalent Emissions Total (in tons CO2e)
top15_co2 = (
    df.sort_values(by='CO2 Equivalent Emissions Total', ascending=False)
      .drop_duplicates(subset=['Company Common Name'])
      .head(15)
)

# Display the results
print("Top 15 Companies by Market Cap (in millions):")
print(top15_market_cap[['Company Common Name', 'Company Market Cap']])
print("\nTop 15 Companies by ESG Score:")
print(top15_esg_score[['Company Common Name', 'ESG Score']])
print("\nTop 15 Companies by CO2 Emissions (tons CO2e):")
print(top15_co2[['Company Common Name', 'CO2 Equivalent Emissions Total']])

Top 15 Companies by Market Cap (in millions):
         Company Common Name  Company Market Cap
2311               Apple Inc        3.331340e+06
2507          Microsoft Corp        2.899030e+06
2905             NVIDIA Corp        2.775744e+06
2299          Amazon.com Inc        2.131521e+06
3774            Alphabet Inc        2.026524e+06
3201      Meta Platforms Inc        1.548015e+06
2687  Berkshire Hathaway Inc        1.149848e+06
4980               Tesla Inc        8.750856e+05
4675            Broadcom Inc        8.429183e+05
2047        Eli Lilly and Co        7.837595e+05
3468     JPMorgan Chase & Co        7.019065e+05
2270             Walmart Inc        6.831157e+05
3347                Visa Inc        6.723820e+05
2766        Exxon Mobil Corp        5.131905e+05
1688          Mastercard Inc        5.005918e+05

Top 15 Companies by ESG Score:
            Company Common Name  ESG Score
5032             BNP Paribas SA  95.271519
552       STMicroelectronics NV  94.131106
1203                    Abb Ltd  93.907152
1278            AstraZeneca PLC  93.826478
4204                     SAP SE  93.743121
706                  Allianz SE  93.732806
1168           Roche Holding AG  93.418248
2133              Owens Corning  93.127900
683      Mercedes-Benz Group AG  92.914906
2507             Microsoft Corp  92.885826
3520  Banco Santander Brasil SA  92.197918
4426                 Signify NV  91.914509
484                   Nokia Oyj  91.534849
3799               Glencore PLC  91.514539
5012         Banco Santander SA  91.305286

Top 15 Companies by CO2 Emissions (tons CO2e):
                      Company Common Name  CO2 Equivalent Emissions Total
987                           Gazprom PAO                    2.425800e+08
3471                     ArcelorMittal SA                    1.858000e+08
1174                            Holcim AG                    1.290000e+08
2766                     Exxon Mobil Corp                    1.090000e+08
4476                          Vistra Corp                    1.057724e+08
634                                RWE AG                    9.642000e+07
1777                          Southern Co                    8.825041e+07
1943                     Duke Energy Corp                    8.486967e+07
991     Neftyanaya Kompaniya Rosneft' PAO                    8.120000e+07
886                             Shell PLC                    8.100000e+07
1806  American Electric Power Company Inc                    7.929043e+07
3389                   Inter RAO YEES PAO                    7.889118e+07
628               Heidelberg Materials AG                    7.868000e+07
805                              Enel SpA                    7.501000e+07
1903                         Chevron Corp                    6.400000e+07

: